@import "tailwindcss";

/* Defaults styles */
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* oprions container */
.option-container::-webkit-scrollbar {
    width: 6px;
}

.option-container::-webkit-scrollbar-track {
    background: transparent;
}

.option-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.option-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.option-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.4) transparent;
}

/* Pack card */
.pack-card {
    opacity: 0;
    position: relative;
    transform: translateY(40px) scale(0.8);
    transition: box-shadow 0.3s ease;
    background:
        url("/public/textures/backgroundCard.svg"),
        linear-gradient(135deg, var(--rarity-main), var(--rarity-dark));
        
    background-blend-mode: overlay;
}

.pokemon-name {
    opacity: 0;
    font-size: 1200px;
    position: absolute;
    transform: translateY(800px) translateX(-50%);
    left: 50%;
    bottom: 2px;
}

.pokemon-img {
    opacity: 0;
    transform: scale(0.7);
}

.pack-card[data-rarity="LEGENDARY"] {
    box-shadow: 0 0 20px rgba(255, 179, 0, 0.6);
} 

/* evolution overlay */
.flash-overlay {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}


/* utility classes for animations */
.custom-pulse-animation {
	animation: bounce-pulse 2s ease-in-out infinite;
}

.appear {
    animation:appear 1s ease-in-out forwards;
}

.to-up {
	animation: toUp 0.45s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.on-closing {
	animation: onClosing .4s ease-in forwards;
}

.fade-backdrop {
    animation: fadeBackdrop 0.3s ease forwards;
}

.show-up {
	animation: show-up .5s ease-in-out forwards;
}

.fade-in {
	animation: fadeIn .4s ease-out forwards;
}

.shiny {
  animation: shinyGlow 1.5s infinite alternate;
}

.normal {
	animation: normalGlow 1.5s infinite alternate;
}

.evolution {
	animation: evolutionGlow 1.5s infinite alternate;
}

.growth {
	animation: growth .425s ease-in forwards;
}

.stat {
	animation: fromBotton .450s ease-in-out forwards;
}

.to-bottom{
	animation: toBottom .8 ease-out forwards;
}

/* Animations */
@keyframes bounce-pulse {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	} 
	100% {
		transform: translateY(0);
	}
}

@keyframes appear {
	from {
		opacity: 0;
	} to {
		opacity:1;
	}
}

@keyframes toUp {
	from {
		opacity: 0;
		transform: translateY(24px) scale(0.96);
	} to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes onClosing{
	from {
		opacity: 1;
		transform: scale(1);
	} 
	to {
		opacity: 0;
		transform: scale(0.92);
	}
}

@keyframes fadeBackdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-up {
	from {
		scale: 0;
		opacity: 0;
	} 
	to {
		scale: 1;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0) translateY(100px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@keyframes shinyGlow {
    from { filter: drop-shadow(0 0 6px #fff176); }
    to   { filter: drop-shadow(0 0 18px #ffd700); }
}

@keyframes normalGlow {
	from { filter: drop-shadow(0 0 3px #cec); }
 	to   { filter: drop-shadow(0 0 10px #fff); }
}

@keyframes evolutionGlow {
	from { filter: drop-shadow(0 0 3px rgb(127, 10, 163)); }
 	to   { filter: drop-shadow(0 0 10px #230750); }
}

@keyframes growth {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes fromBotton {
	from {
		transform: translateY(15px);
		opacity: 0;
	}to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes toBottom {
	 to {
		opacity: 0;
		transform: scale(0) translateY(100px);
	}
}