---
import Layout from '../layouts/Layout.astro';
import {EnvelopesContainer} from "../components/EnvelopesContainer"

const token = Astro.locals.token
---

<Layout title="MiniDex | Home">
	<div>
		<section class="p-4">
			<h2 class="text-center font-bold text-2xl text-white">Tus Sobres Disponibles</h2>

			<EnvelopesContainer client:load />
		</section>
	</div>
</Layout>
