<header class="bg-white/20 flex justify-between items-center px-10 py-4 text-white">
	<p>Logo</p>
	<nav>
		<ul class="flex gap-2">
            <li>
				<a href="/" class="hover:bg-zinc-200/30 p-2 rounded-sm transition-all">Home</a>
			</li>
			<li>
				<a href="/trainers/pokedex" class="hover:bg-zinc-200/30 p-2 rounded-sm transition-all">Mi Pokedex</a>
			</li>
			<li>
				<a href="/store/store" class="hover:bg-zinc-200/30 p-2 rounded-sm transition-all">Tienda</a>
			</li>
			<li>
				<a href="/trainers/me" class="hover:bg-zinc-200/30 p-2 rounded-sm transition-all">Perfil</a>
			</li>
			<li>
				<form action="/api/logout" method="POST" class="flex p-0 m-0">
					<button
					type="submit"
					class="hover:bg-zinc-200/30 px-2  rounded-sm transition-all cursor-pointer"
					>
					Cerrar sesión
					</button>
				</form>
			</li>
		</ul>
	</nav>
</header>